{% block footer %}
<footer class="footer-container">
    <p>2023 © ADRAR Classrooms. Tous droits réservés.</p>

    <button onclick="topFunction()" id="top-button" title="Go to top"><img class="button-size" src="{{asset('images/sort-up.png')}}" /></button>
    {# <img src="{{asset('images/sort-up.png')}}" /> #}
</footer>
{% endblock %}